body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    max-width: 800px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-section, .form-section {
    flex: 1;
    padding: 20px;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

    .logo-section h1 {
        position: absolute;
        top: 70px; /* Adjust the top position as needed */
        left: 36%;
        transform: translateX(-50%);
        margin: 0;
        font-size: 1.7em;
        text-align: center;
    }

.form-section {
    padding: 40px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #3D9B1C;
    color: white;
    border: none;
    cursor: pointer;
}

.logo-section img {
    width: 420px; /* Adjust the width as needed */
}

.text-center {
    text-align: left;
    color: #000000;
}
